<section class="pweb-notice-event-feed__column" aria-labelledby="pweb-notices-heading">
  <h2 id="pweb-notices-heading" class="pweb-display">{{ 'home.notices.heading' | translate }}</h2>

  @if (notices().length) {
    <ul class="pweb-notice-event-feed__list">
      @for (notice of notices(); track notice.id) {
        <li class="pweb-notice-event-feed__card">
          @if (notice.isUrgent) {
            <span class="pweb-notice-event-feed__badge">!</span>
          }
          <span class="pweb-notice-event-feed__title">{{ notice.title }}</span>
          @if (notice.publishedAt) {
            <time [attr.datetime]="notice.publishedAt">{{
              notice.publishedAt | date: 'mediumDate'
            }}</time>
          }
        </li>
      }
    </ul>
  } @else {
    <p class="pweb-notice-event-feed__empty">{{ 'home.notices.empty' | translate }}</p>
  }
</section>

<section class="pweb-notice-event-feed__column" aria-labelledby="pweb-events-heading">
  <h2 id="pweb-events-heading" class="pweb-display">{{ 'home.events.heading' | translate }}</h2>

  @if (events().length) {
    <ul class="pweb-notice-event-feed__list">
      @for (event of events(); track event.id) {
        <li class="pweb-notice-event-feed__card">
          <span class="pweb-notice-event-feed__title">{{ event.title }}</span>
          <time [attr.datetime]="event.startAt">{{ event.startAt | date: 'mediumDate' }}</time>
          @if (event.locationLabel) {
            <span class="pweb-notice-event-feed__location">{{ event.locationLabel }}</span>
          }
        </li>
      }
    </ul>
  } @else {
    <p class="pweb-notice-event-feed__empty">{{ 'home.events.empty' | translate }}</p>
  }
</section>
